@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monoton&display=swap");
@font-face {
  font-family: "Entanglement";
  src: url("/resource/css/font/EdgeOfTheGalaxyRegular-OVEa6.otf");
}

/* ---------------------------------------- */
/* OVERALL SETTINGS */
/* ---------------------------------------- */
:root {
  --color-black: #121212;
  --color-gray: #1d1d1d;
  --color-purple: #a24dbf;
  --navbar-height: 4.5rem;
}
* {
  margin: 0;
  padding: 0;
  color: #fcfcfc;
  user-select: none;
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
  background-color: var(--color-black);
}

.snap-scroll {
  scroll-snap-type: y mandatory; /* vertical snapping */
  overflow-y: scroll; /* enable scrolling */
  height: 100vh;
  scroll-behavior: smooth; /* smooth scrolling */
  position: relative; /* Maintain position context */
}

/* Ensure the container scrolls smoothly and snaps to sections */
.main,
.projects,
.about-me {
  height: calc(100% - var(--navbar-height));
  width: 100%;
  padding-top: var(--navbar-height);
  scroll-snap-align: start; /* snap to the start of each section */
}
h3 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 2rem;
}
/* ---------------------------------------- */
/* CANVAS SETTINGS */
/* ---------------------------------------- */
canvas {
  top: 0;
  position: fixed;
  background-color: #1d1d1d;
  opacity: 60%;
  overflow: hidden;
  z-index: -1;
  height: 100vh;
}

/* ---------------------------------------- */
/* NAVIGATION PANEL */
/* ---------------------------------------- */
.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  overflow: hidden;
  /* background-color: var(--color-gray); */
  display: flex;
  justify-content: center;
  height: var(--navbar-height);
  width: 100%;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100%;
}

.navbar__logo {
  height: 65%;
  cursor: pointer;
}

.navbar__list {
  list-style-type: none;
  display: flex;
}

.navbar__links {
  font-size: small;
  margin-left: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbar__links a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
}
.navbar__links a:hover {
  color: var(--color-purple);
}

/* ---------------------------------------- */
/* HEADER */
/* ---------------------------------------- */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container {
  display: flex;
  align-items: center;
  width: 80%;
}

.main__info-container {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__side-panel {
  display: grid;
  place-items: center;
  /* opacity: 90%; */
  flex: 1;
  height: 100%;
}
.main__programer-image {
  width: 90%;
}

.main__info {
  margin-right: 20%;
}

.main__info h6 {
  font-size: 0.8rem;
}

.main__name {
  font-size: 4.5rem;
  font-weight: bold;
}
.main__title {
  color: var(--color-purple);
  font-size: 1.6rem;
}
.main__description {
  font-style: italic;
  font-size: 0.8rem;
  margin-top: 1rem;
}
.main__contact-btn {
  font-size: 0.8rem;
  margin-top: 2rem;
  padding: 12px 20px;
  background-color: transparent;
  border: 1px solid var(--color-purple);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.main__contact-btn:hover {
  background-color: var(--color-purple);
  transition: ease-in;
}

/* ---------------------------------------- */
/* ABOUT ME */
/* ---------------------------------------- */
.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #12121271;
}

/* main about card */
.about-me__container {
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  width: 80%;
  height: 90%;
  border-radius: 0.7rem;
  overflow: hidden;
  box-shadow: 0 0 40px 5px var(--color-black);
}
/* about image section */
.about-me__image {
  width: 50%;
  display: grid;
  place-items: center;
}
.about-me__image img {
  width: 100%;
}
/* about content section */
.about-me__content {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #1d1d1d;
  padding: 2.5rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 1px;
  word-spacing: 1px;
}

/* main about heading */
.about-me__heading {
  margin: 1rem 0 1.8rem 0;
}

/* about me carousel */
.about-me__splide {
  flex-grow: 1;
  position: relative;
}
.about-me__splide .splide__arrow {
  letter-spacing: 3px;
  font-weight: bold;
  margin-top: 33%;
  background: none;
}
.about-me__splide .splide__arrow img {
  margin: 0.5em;
  width: 2em;
}

/* about content h3 styling */
.about-me__who-am-i h3,
.about-me__skills h3,
.about-me__work-experience h3 {
  color: var(--color-purple);
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

/* about (who am i section) */
.about-me__who-am-i p span {
  color: var(--color-purple);
}
.about-me__who-am-i p span a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-purple);
}

/* about (work experience section) */
.about-me__work-experience h4 {
  margin: 1.5rem 0 0.6rem 0;
}
.about-me__work-experience span {
  color: var(--color-purple);
  font-size: 0.8rem;
}
.about-me__work-experience ul {
  list-style: disc;
  margin-left: 1.5rem;
}

/* about (skills section) */
.about-me__skills .skills {
  margin-top: 1.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 9 columns */
  grid-template-rows: repeat(5, auto); /* 2 rows */
  gap: 15px;
  justify-items: center;
  align-items: center; /* Center the images vertically */
}
.about-me__skills .skills img {
  width: 70%;
  filter: saturate(0);
  transition: all 0.3s ease-in-out;
}
.about-me__skills .skills img:hover,
.about-me__skills .skills .active {
  filter: saturate(1);
}
.about-me__skills--description {
  color: var(--color-purple);
  padding: 0.5rem;
  flex-grow: 1;
  overflow-y: scroll;
  border: 1px solid #fcfcfc;
}

/* ---------------------------------------- */
/* Projects */
/* ---------------------------------------- */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* main projects container */
.projects__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 90%;
}
/* projects main heading */
.projects h3 {
  margin: 1rem 0 2rem 0;
  text-align: center;
}

/* projects carousel */
.projects__splide {
  flex-grow: 1;
  margin-bottom: 3rem;
  /* box-shadow: -50px 0 100px -70px var(--color-black), */
  /* 50px 0 100px -70px var(--color-black); */
}
.projects__splide .splide__slide {
  position: relative;
  min-height: 450px;
}
/* card active styling */
.projects__splide .splide__slide.is-active .c-card {
  transform: scale(1);
}
.projects__splide .splide__slide.is-active .c-card::after {
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}
.projects__splide .splide__slide.is-active .c-card .c-card__title {
  color: var(--color-purple);
}
.projects__splide .splide__slide.is-active .c-card__video,
.projects__splide .splide__slide.is-active .c-card__footer {
  opacity: 1;
  pointer-events: auto;
  display: grid;
}

.projects__splide .splide__slide:not(.is-active) .c-card__video,
.projects__splide .splide__slide:not(.is-active) .c-card__footer {
  /* opacity: 0; */
  /* pointer-events: none; */
}

/* projects card styling */
.c-card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--color-gray);
  height: 100%;
  border-radius: 10px;
  transform: scale(0.8);
  transition: transform 0.5s;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 40px 5px var(--color-black);
}
.c-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 400ms ease;
}
/* card heading container */
.c-card__header {
  padding: 2rem 0.5rem;
  display: grid;
  place-items: center;
  text-align: center;
}
/* card heading */
.c-card__title {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 18px;
  transition: all 400ms ease;
}

.c-card__video {
  width: 100%;
  /* aspect-ratio: 2 / 1; */
  /* object-fit: cover; */
  transition: all 400ms ease;
}
.c-card__footer {
  display: none;
  place-items: center;
  padding: 4rem 1rem;
  transition: all 400ms ease;
}
.c-card__link {
  padding: 12px 20px;
  text-decoration: none;
  /* background-color: var(--color-dark); */
  border: 1px solid var(--color-purple);
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.c-card__link:hover {
  background-color: var(--color-purple);
}

/* ---------------------------------------- */
/* Contact me */
/* ---------------------------------------- */
