@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monoton&display=swap");
@font-face {
  font-family: "Entanglement";
  src: url("/resource/css/font/EdgeOfTheGalaxyRegular-OVEa6.otf");
}

/* ---------------------------------------- */
/* OVERALL SETTINGS */
/* ---------------------------------------- */
:root {
  --color-black: #121212;
  --color-gray: #1d1d1d;
  --color-purple: #a24dbf;
  --navbar-height: 4.5rem;
}
* {
  margin: 0;
  padding: 0;
  color: #fcfcfc;
  user-select: none;
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
  background-color: var(--color-black);
}

.snap-scroll {
  background-image: url("resource/img/main_bg.jpg");
  background-size: cover;
  background-position: center;
  scroll-snap-type: y mandatory; /* vertical snapping */
  overflow-y: scroll; /* enable scrolling */
  height: 100vh;
  scroll-behavior: smooth; /* smooth scrolling */
  position: relative; /* Maintain position context */
}

/* Ensure the container scrolls smoothly and snaps to sections */
.main,
.projects,
.about-me {
  height: calc(100% - var(--navbar-height));
  width: 100%;
  padding-top: var(--navbar-height);
  scroll-snap-align: start; /* snap to the start of each section */
}

.main__container,
.about-me__container,
.projects__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 80%;
}

h3 {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 2.5rem;
}
/* ---------------------------------------- */
/* CANVAS SETTINGS */
/* ---------------------------------------- */
canvas {
  top: 0;
  position: fixed;
  background-color: #1d1d1d;
  opacity: 60%;
  overflow: hidden;
  z-index: -1;
  height: 100vh;
}

/* ---------------------------------------- */
/* NAVIGATION PANEL */
/* ---------------------------------------- */
.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  overflow: hidden;
  /* background-color: var(--color-gray); */
  display: flex;
  justify-content: center;
  height: var(--navbar-height);
  width: 100%;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  height: 100%;
}

.navbar__logo {
  height: 65%;
  cursor: pointer;
}

.navbar__list {
  list-style-type: none;
  display: flex;
}

.navbar__links {
  font-size: small;
  margin-left: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbar__links a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
}
.navbar__links a:hover {
  color: var(--color-purple);
}

/* ---------------------------------------- */
/* HEADER */
/* ---------------------------------------- */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container {
  margin-bottom: var(--navbar-height);
}

.main__socials {
  z-index: 1;
  position: fixed;
  left: 4%;
  bottom: 4%;
  width: 1.2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.main__socials img {
  margin-top: 1.2em;
  width: 100%;
  opacity: 0.6;
}

.main__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-shadow: 5px 6px 18px var(--color-black); /* Horizontal offset, Vertical offset, Blur radius, Color */
}

.main__info h6 {
  opacity: 0.6;
  font-size: 0.8rem;
  margin-right: 25rem;
}
.main__name {
  font-size: 9rem;
  text-transform: uppercase;
  font-weight: 900;
}
.main__info h2 {
  margin-top: -1.8rem;
  font-size: 1.1rem;
  margin-left: 30rem;
  opacity: 0.6;
}
.main__title {
  margin-top: 1rem;
  font-size: 1.3rem;
  color: var(--color-purple);
  /* opacity: 0.9; */
  margin-right: 20rem;
}

.main__scroll {
  z-index: 1;
  position: fixed;
  right: 4%;
  bottom: 4%;
  width: 1.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  writing-mode: vertical-rl; /* Vertical text direction */
  letter-spacing: 0.2rem;
  /* text-orientation: upright; */
}
.main__scroll img {
  margin-top: 1rem;
  width: 100%;
  transform: rotate(90deg);
  cursor: pointer;
}

/* ---------------------------------------- */
/* ABOUT ME */
/* ---------------------------------------- */
.about-me {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #12121271;
}

/* main about card */
.about-me__container {
  background-color: var(--color-black);
  justify-content: center;
  border-radius: 0.7rem;
  overflow: hidden;
  box-shadow: 18px 12px 50px 8px var(--color-black);
}
/* about image section */
.about-me__image {
  height: 100%;
  width: 42%;
  display: grid;
  place-items: center;
}
.about-me__image img {
  width: 100%;
}
/* about content section */
.about-me__content {
  height: calc(100% - 5rem);
  width: calc(58% - 5rem);
  padding: 2.5rem;
  background-color: #1d1d1d;
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 1px;
  word-spacing: 1px;
}

/* about me carousel */
.about-me__splide {
  width: 100%;
  height: 100%;
  position: relative;
}

.about-me__splide .splide__track {
  height: 100%;
}
.about-me__splide .splide__arrows {
  position: relative;
  height: 1rem;
  margin: 0 1rem;
  bottom: 0.5rem;
}
.about-me__splide .splide__arrow {
  position: absolute;
  bottom: 0;
  letter-spacing: 3px;
  /* font-weight: bold; */
  /* margin-top: 33%; */
  background: none;
}
.about-me__splide .splide__arrow--prev {
  left: 0;
}
.about-me__splide .splide__arrow--next {
  right: 0;
}

.about-me__splide .splide__arrow img {
  margin: 0 0.5rem;
  width: 1rem;
}

/* about content h3 styling */
.about-me__who-am-i h3,
.about-me__skills h3,
.about-me__work-experience h3 {
  color: var(--color-purple);
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

/* about (who am i section) */
.about-me__who-am-i p span {
  color: var(--color-purple);
}
.about-me__who-am-i p span a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-purple);
}

/* about (work experience section) */
.about-me__work-experience h4 {
  margin: 1.5rem 0 0.6rem 0;
}
.about-me__work-experience span {
  color: var(--color-purple);
}
.about-me__work-experience ul {
  list-style: disc;
  margin-left: 1.5rem;
}
.about-me__work-experience ul li {
  margin-bottom: 0.3rem;
}

/* about (skills section) */
.about-me__skills .skills {
  margin-top: 1.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr); /* 9 columns */
  grid-template-rows: repeat(5, auto); /* 2 rows */
  gap: 15px;
  justify-items: center;
  align-items: center; /* Center the images vertically */
}
.about-me__skills .skills img {
  width: 70%;
  filter: saturate(0);
  transition: all 0.3s ease-in-out;
}
.about-me__skills .skills img:hover,
.about-me__skills .skills .active {
  filter: saturate(1);
}
.about-me__skills--description {
  color: var(--color-purple);
  padding: 0.5rem;
  flex-grow: 1;
  overflow-y: scroll;
  border: 1px solid #fcfcfc;
}

/* ---------------------------------------- */
/* Projects */
/* ---------------------------------------- */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* main projects container */
.projects__container {
  position: relative;
  flex-direction: column;
  height: 90%;
}
/* projects main heading */
.projects h3 {
  margin-bottom: 1rem;
  text-align: center;
}

/* projects carousel */
.projects__splide {
  flex: 1;
  width: 100%;
}
.projects__splide .splide__track {
  height: 100%;
  width: 100%;
}
.projects__splide .splide__slide {
  position: relative;
}
/* card active styling */
.projects__splide .splide__slide.is-active .c-card {
  transform: scale(1);
}
.projects__splide .splide__slide.is-active .c-card::after {
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}
.projects__splide .splide__slide.is-active .c-card .c-card__title {
  color: var(--color-purple);
}
.projects__splide .splide__slide.is-active .c-card__video,
.projects__splide .splide__slide.is-active .c-card__footer {
  opacity: 1;
  pointer-events: auto;
  display: grid;
}

.projects__splide .splide__slide:not(.is-active) .c-card__video,
.projects__splide .splide__slide:not(.is-active) .c-card__footer {
  /* opacity: 0; */
  /* pointer-events: none; */
}

/* projects card styling */
.c-card {
  height: 85%;
  width: 90%;
  margin: 7.5% 5%;
  position: relative;
  background-color: var(--color-gray);
  border-radius: 0.5rem;
  transform: scale(0.8);
  transition: transform 0.5s;
  overflow: hidden;
  box-shadow: 6px 18px 21px 6px var(--color-black);
}
.c-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 400ms ease;
}
.c-card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
/* card heading container */
.c-card__header {
  padding: 2rem 0.5rem;
  display: grid;
  place-items: center;
  text-align: center;
}
/* card heading */
.c-card__title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.1rem;
  transition: all 400ms ease;
}

.c-card__video {
  width: 100%;
  /* aspect-ratio: 2 / 1; */
  /* object-fit: cover; */
  transition: all 400ms ease;
}
.c-card__footer {
  flex: 1;
  display: none;
  place-items: center;
  transition: all 400ms ease;
}
.c-card__link {
  padding: 0.75rem 1.3rem;
  text-decoration: none;
  /* background-color: var(--color-dark); */
  border: 1px solid var(--color-purple);
  font-size: 0.7rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.c-card__link:hover {
  background-color: var(--color-purple);
}

.projects__splide .splide__pagination li {
  margin: 0 0.3rem;
}

/* ---------------------------------------- */
/* Contact me */
/* ---------------------------------------- */
