@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Monoton&display=swap");

/* ---------------------------------------- */
/* OVERALL SETTINGS */
/* ---------------------------------------- */
:root {
  --color-black: #121212;
  --color-gray: #1d1d1d;
  --color-purple: #a24dbf;
  --color-white: #fcfcfc;
  --letter-spacing: 0.2rem;
  --sub-heading: 1.3rem;
  --opacity-light: 0.6;
  --navbar-height: 4.5rem;
}
* {
  margin: 0;
  padding: 0;
  color: var(--color-white);
  user-select: none;
  font-family: "Inter", sans-serif;
}

body {
  position: relative;
  background-color: var(--color-black);
}

/* Sub heading */
h2 {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 2.1rem;
  text-shadow: 5px 6px 18px var(--color-black);
}
h3 {
  font-size: var(--sub-heading);
}

/* ---------------------------------------- */
/* SIDE STRIPS */
/* ---------------------------------------- */
.main__socials,
.main__scroll {
  z-index: 1;
  position: fixed;
  height: 100%;
  width: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
/* ---------------------------------------- */
/* Socials bar left */
/* ---------------------------------------- */
.main__socials {
  left: 4%;
  bottom: 4%;
  transform: translateX(0rem);
  transition: all 0.3s ease-in-out;
}
.main__socials.hide {
  transform: translateX(-5rem);
}
.main__socials img {
  margin-top: 1.2em;
  width: 100%;
  opacity: var(--opacity-light);
  transition: all 0.3s ease-in-out;
}
.main__socials img:hover {
  opacity: 1;
}
/* ---------------------------------------- */
/* Socials bar right */
/* ---------------------------------------- */
.main__scroll {
  right: 4%;
  bottom: 4%;
  transform: translateX(0rem);
  transition: all 0.3s ease-in-out;
}
.main__scroll.hide {
  transform: translateX(5rem);
}
.main__scroll span {
  font-size: 0.8rem;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  letter-spacing: var(--letter-spacing);
  opacity: var(--opacity-light);
  transition: all 0.3s ease-in-out;
}
.main__scroll .main__scroll--up,
.main__scroll .main__scroll--down {
  opacity: 0;
  width: 100%;
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}
.main__scroll .main__scroll--down {
  margin-top: 1rem;
  transform: rotate(90deg);
}
.main__scroll .main__scroll--up {
  margin-bottom: 1rem;
  transform: rotate(-90deg);
}
.main__scroll .main__scroll--up.visible,
.main__scroll .main__scroll--down.visible {
  opacity: var(--opacity-light);
  cursor: pointer;
}
.main__scroll .main__scroll--up.visible:hover,
.main__scroll .main__scroll--down.visible:hover {
  opacity: 1;
}

/* ---------------------------------------- */
/* MAIN SCROLL WINDOW */
/* ---------------------------------------- */
.snap-scroll {
  background-image: url("img/main_bg.jpg");
  background-size: cover;
  background-position: center;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
  position: relative;
}

/* ---------------------------------------- */
/* SECTIONS */
/* ---------------------------------------- */
.main,
.projects,
.about-me,
.contact,
.footer {
  position: relative;
  height: calc(100% - var(--navbar-height));
  width: 100%;
  padding-top: var(--navbar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}
/* ---------------------------------------- */
/* SECTIONS */
/* ---------------------------------------- */
.main__container,
.about-me__container,
.projects__container,
.contact__container,
.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 80%;
}
/* ---------------------------------------- */
/* DARK SECTIONS */
/* ---------------------------------------- */
.about-me,
.contact,
.footer {
  background-color: #12121271;
}
/* ---------------------------------------- */
/* NAVIGATION PANEL */
/* ---------------------------------------- */
.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: center;
  height: var(--navbar-height);
  width: 100%;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 92%;
}

.navbar__logo {
  height: 65%;
  cursor: pointer;
}

.navbar__list {
  list-style-type: none;
  display: flex;
}

.navbar__links {
  font-size: 0.8rem;
  margin-left: 1.5rem;
  letter-spacing: var(--letter-spacing);
  text-transform: uppercase;
}

.navbar__links a {
  text-decoration: none;
  color: var(--color-white);
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}
.navbar__links a:hover {
  /* color: var(--color-purple); */
  opacity: 1;
}

/* ---------------------------------------- */
/* HEADER */
/* ---------------------------------------- */
.main {
}

.main__container {
  margin-bottom: var(--navbar-height);
}

.main__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-shadow: 5px 6px 18px var(--color-black);
}

.main__info h6 {
  opacity: var(--opacity-light);
  font-size: 0.8rem;
  margin-right: 25rem;
}
.main__name {
  font-size: 9rem;
  text-transform: uppercase;
  font-weight: 900;
}
.main__info h4 {
  margin-top: -1.8rem;
  font-size: 1.1rem;
  margin-left: 30rem;
  opacity: var(--opacity-light);
}
.main__title {
  margin-top: 1rem;
  font-size: var(--sub-heading);
  color: var(--color-purple);
  margin-right: 20rem;
}

/* ---------------------------------------- */
/* ABOUT ME */
/* ---------------------------------------- */
/* main about card */
.about-me__container {
  background-color: var(--color-black);
  border-radius: 0.7rem;
  overflow: hidden;
  box-shadow: 18px 12px 50px 8px var(--color-black);
}
/* about image section */
.about-me__image {
  height: 100%;
  width: 42%;
  display: grid;
  place-items: center;
}
.about-me__image img {
  width: 100%;
}
/* about content section */
.about-me__content {
  height: calc(100% - 5rem);
  width: calc(58% - 5rem);
  padding: 2.5rem;
  background-color: var(--color-gray);
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 0.07rem;
  word-spacing: 0.08rem;
}

/* about me carousel */
.about-me__splide {
  position: relative;
  width: 100%;
  height: 100%;
}
.about-me__splide .splide__track {
  height: 100%;
}

/* about content h3 styling */
.about-me__who-am-i h3,
.about-me__skills h3,
.about-me__work-experience h3 {
  color: var(--color-purple);
  margin-bottom: 1.5rem;
}

/* about (who am i section) */
.about-me__who-am-i p {
  opacity: var(--opacity-light);
}
.about-me__who-am-i span {
  /* opacity: 1; */
}
.about-me__who-am-i span a {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-purple);
}

/* about (work experience section) */
.about-me__work-experience h4 {
  margin: 1.2rem 0 0.6rem 0;
}
.about-me__work-experience span {
  color: var(--color-purple);
}
.about-me__work-experience ul {
  list-style: disc;
  margin-left: 1.5rem;
  opacity: var(--opacity-light);
}
.about-me__work-experience ul li {
  margin-bottom: 0.3rem;
}

/* about (skills section) */
.about-me__skills .skills {
  margin-top: 1.5rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 1rem;
  justify-items: center;
  align-items: center;
}
.about-me__skills .skills img {
  width: 70%;
  filter: saturate(0);
  transition: all 0.3s ease-in-out;
}
.about-me__skills .skills img:hover,
.about-me__skills .skills .active {
  filter: saturate(1);
}
.about-me__skills--description {
  color: var(--color-purple);
  padding: 0.5rem;
  flex-grow: 1;
  overflow-y: scroll;
  border: 1px solid #fcfcfc60;
}

/* direction arrows for about me Splide */
.about-me__splide .splide__arrows {
  position: relative;
  height: 1rem;
  margin: 0 1rem;
  bottom: 0.5rem;
}
.about-me__splide .splide__arrow {
  position: absolute;
  bottom: 0;
  letter-spacing: var(--letter-spacing);
  background: none;
}
.about-me__splide .splide__arrow--prev {
  left: 0;
}
.about-me__splide .splide__arrow--next {
  right: 0;
}
.about-me__splide .splide__arrow img {
  margin: 0 0.5rem;
  width: 1rem;
}

/* ---------------------------------------- */
/* Projects */
/* ---------------------------------------- */
.projects {
  flex-direction: column;
}
/* main projects container */
.projects__container {
  position: relative;
  flex-direction: column;
  height: 90%;
}

/* projects carousel */
.projects__splide {
  flex: 1;
  width: 100%;
}
.projects__splide .splide__track {
  height: 100%;
  width: 100%;
}

/* card active styling */
.projects__splide .splide__slide.is-active .project-card {
  transform: scale(1);
}
.projects__splide .splide__slide.is-active .project-card::after {
  background-color: transparent;
}
.projects__splide .splide__slide.is-active .project-card .project-card__title {
  color: var(--color-purple);
}
.projects__splide .splide__slide.is-active .project-card__video,
.projects__splide .splide__slide.is-active .project-card__footer {
  opacity: 1;
  pointer-events: auto;
  display: grid;
}

/* projects card styling */
.project-card {
  display: flex;
  flex-direction: column;
  height: 82%;
  width: 90%;
  margin: 7.5% 5%;
  background-color: var(--color-gray);
  border-radius: 0.5rem;
  transform: scale(0.8);
  transition: transform 0.5s;
  overflow: hidden;
  box-shadow: 6px 18px 21px 6px var(--color-black);
}
.project-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 400ms ease-in-out;
  pointer-events: none;
}

/* card title section */
.project-card__header {
  padding: 2rem 0.5rem;
  display: grid;
  place-items: center;
  text-align: center;
}
.project-card__title {
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing);
  font-size: 1.1rem;
  transition: all 400ms ease-in-out;
}
/* card video section */
.project-card__video {
  width: 100%;
  transition: all 400ms ease-in-out;
}
/* Project-card link section */
.project-card__footer {
  flex: 1;
  display: none;
  place-items: center;
  transition: all 400ms ease-in-out;
}
.project-card__link {
  padding: 0.75rem 1.3rem;
  text-decoration: none;
  border: 1px solid var(--color-purple);
  font-size: 0.7rem;
  letter-spacing: var(--letter-spacing);
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
}
.project-card__link:hover {
  /* background-color: var(--color-purple); */
  opacity: 1;
}
/* Project card pagination */
.projects__splide .splide__pagination li {
  margin: 0 0.3rem;
}

/* ---------------------------------------- */
/* Contact me */
/* ---------------------------------------- */
/* main contact card */
.contact__container {
  height: 85%;
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 0.07rem;
  word-spacing: 0.08rem;
  gap: 2rem;
}

.contact__info {
  flex: 1;
  height: calc(100% - 3rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.contact__info .contact__para {
  text-align: center;
  width: 90%;
}

.contact__info p {
  opacity: var(--opacity-light);
}

.contact__info .phone-no,
.contact__info .email,
.contact__info .linkedin {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
}

.contact__info .phone-no h3,
.contact__info .email h3,
.contact__info .linkedin h3 {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.contact__info .phone-no h3 img,
.contact__info .email h3 img,
.contact__info .linkedin h3 img {
  width: 1rem;
  margin-right: 0.8rem;
}

/* OR SEPARATOR */
.or {
  color: var(--color-purple);
}
/* CONTACT FORM CARD */
.contact__card {
  flex: 1;
  position: relative;
  background-image: url("img/contact_bg.jpg");
  background-size: cover;
  background-position: center;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 2.5%;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 6px 18px 21px 6px var(--color-black);
}
.contact__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1d1d1d56;
  transition: all 400ms ease-in-out;
  pointer-events: none;
}

.contact__card h2 {
  margin-top: 2rem;
  font-size: 1.7rem;
  color: var(--color-purple);
}

.contact__card form {
  flex: 1;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: calc(100% - 4rem);
  padding: 2rem;
}

.contact-form input,
.contact-form textarea {
  color: #fcfcfcbb;
  width: 100%;
  padding: 0.6rem;
  border: none;
  background: none;
  border-bottom: 0.1rem solid #535353;
  font-size: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  transition: all 0.3s ease-in-out;
}

.contact-form input:focus,
.contact-form textarea:focus {
  color: var(--color-white);
  border-color: var(--color-purple);
  outline: none;
}

.contact-form button {
  padding: 0.75rem 1.3rem;
  text-decoration: none;
  background: none;
  border: 1px solid var(--color-purple);
  font-size: 0.7rem;
  letter-spacing: var(--letter-spacing);
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

.contact-form button:hover {
  opacity: 1;
}

/* ---------------------------------------- */
/* Footer section */
/* ---------------------------------------- */
/* Footer Styles */
.footer {
  /* align-items: end; */
  flex-direction: column;
}

/* Contact Prompt Section */
.contact-prompt {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: none; /* Light background to contrast with footer */
  text-align: center;
  /* font-size: 18px; */
  /* color: #333; */
}

.contact-prompt h2 {
  font-size: 1.5rem;
  opacity: var(--opacity-light);
  transition: all 0.3s ease;
}

.contact-prompt h2:last-child:hover {
  opacity: 1;
}

.contact-prompt a {
  color: var(--color-purple);
  text-decoration: none;
}

.footer__container {
  background-color: var(--color-black);
  height: auto;
  width: calc(100% - 8%);
  padding: 4%;
  flex-direction: column;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  gap: 4rem;
}

.footer__col {
  flex: 1;
  min-width: 250px;
}

.footer__col p {
  opacity: var(--opacity-light);
}

.footer__col h4 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.footer__col p,
.footer__col ul {
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 0.07rem;
  word-spacing: 0.08rem;
}

.footer__col ul {
  list-style: none;
  padding: 0;
}

.footer__col ul li {
  margin-bottom: 0.5rem;
}

.footer__col ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  opacity: var(--opacity-light);
  transition: all 0.3s ease;
}

.footer__col ul li a:hover {
  opacity: 1;
}

.footer__socials {
  /* display: flex; */
}

.footer__socials img {
  width: 0.7rem;
  margin-right: 0.3rem;
  transition: all 0.3s ease;
}

.footer__bottom {
  text-align: center;
  margin-top: 2rem;
  border-top: 1px solid #333;
  padding-top: 2rem;
  width: 100%;
}

.footer__bottom p {
  font-size: 0.9rem;
  opacity: var(--opacity-light);
}
